@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #07286f transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #07286f;
  border-radius: 20px;
  border: 3px solid transparent;
}

.icon-position{
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 100;
  margin-right: 15px;
}
.icon-style{
  background-color: #07286f;
  border: 2px solid #07286f;
  border-radius: 10%;
  height: 37px;
  width: 37px;
  padding: 2px;
  color: #ffffff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #ffffff;
  color: #07286f;
  border: 2px solid #07286f;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  font-family: 'Reddit Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  /* filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75)); */
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #1d92ce;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #1d92ce;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #1d92ce;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #1d92ce;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #1d92ce;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #1d92ce;
    opacity: 1;
  }
}
    


.navbar{
  background: transparent;
  transition: background-color 500ms ease-in-out;
 }
 .navbar.active{
  background-color: #07286f;
 }

.homeBanner2{
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(/images/pxl1.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.homeBanner2 .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 100vh;
  width: 100%;
}

.single{
  height: 580px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(/images/pxl1.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.single .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 580px;
  width: 100%;
}

/* Add this to your CSS or use a CSS-in-JS solution like styled-components */

/* CSS */
.testimonial-slide {
  position: relative;
  display: none;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(100%);
  height: auto; /* Ensure variable slide heights */
}

.testimonial-slide.active {
  display: block;
  transform: translateX(0);
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px; /* Adjust the margin as needed */
}

.prev-button,
.next-button {
  color: #07286f;
  /* color: white; */
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
}

.prev-button:hover,
.next-button:hover {
  transition: 0.3s ease-in-out;
  color: #1d92ce;
}

.card-container{
height: 650px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-decoration: none;
  color: #333;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

.pagination .active a {
  background-color: #1d92ce;
  color: #fff;
  border: 1px solid #1d92ce;
}

