@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #07286f transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #07286f;
  border-radius: 20px;
  border: 3px solid transparent;
}

.icon-position{
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 100;
  margin-right: 15px;
}
.icon-style{
  background-color: #07286f;
  border: 2px solid #07286f;
  border-radius: 10%;
  height: 37px;
  width: 37px;
  padding: 2px;
  color: #ffffff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #ffffff;
  color: #07286f;
  border: 2px solid #07286f;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  font-family: 'Reddit Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid rgba(0, 102, 255, 0.1);
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #1d92ce;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #1d92ce;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.loader::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #1d92ce;
  border-right: 3px solid #1d92ce;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.loader span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loader span::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00aeff;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px 5px #1d92ce;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

    


.navbar{
  background: transparent;
  transition: background-color 500ms ease-in-out;
 }
 .navbar.active{
  background-color: #07286f;
 }

 .homeBanner2{
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(/images/pxl1.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.homeBanner2 .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 540px;
  width: 100%;
}

 .homeBanner{
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("https://images.ctfassets.net/kkpwxk9m1i0h/1DKnriVvXMQYMlkrmw2Vw0/1bf2712f6afb42505b45efa9adaf050f/WhatsApp_Image_2024-04-03_at_9.43.07_AM__1_.jpeg");
  background-repeat: no-repeat;
  width: 100%;
}

.homeBanner .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 540px;
  width: 100%;
}

.homeBanner5{
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("https://images.ctfassets.net/kkpwxk9m1i0h/6MKWUs4o3nvZncikqjXBOO/9fd6a9bbc9db2757e2233cd8137d9e0e/IMG_2774.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.homeBanner5 .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 540px;
  width: 100%;
}

.homeBanner3{
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("https://images.ctfassets.net/kkpwxk9m1i0h/KiaQQdwbwbSmeSCGoWrl5/17e3c03be1b98375133256a638882b00/WhatsApp_Image_2024-04-16_at_19.58.10.jpeg");
  background-repeat: no-repeat;
  width: 100%;
}

.homeBanner3 .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 540px;
  width: 100%;
}

.homeBanner4{
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("https://images.ctfassets.net/kkpwxk9m1i0h/5822d95NsDK54ucnpIsZQT/5e4f3b3ac70723c10c769d9618e61df5/IMG_20240511_155200.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.homeBanner4 .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 540px;
  width: 100%;
}

.homeBanner6{
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("http://images.ctfassets.net/kkpwxk9m1i0h/5CIPQTrBaeEnbZK9oUpuFq/196560e5559ef4698c49bcbe0781c0c2/WhatsApp_Image_2024-04-11_at_01.51.25.jpeg");
  background-repeat: no-repeat;
  width: 100%;
}

.homeBanner6 .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 540px;
  width: 100%;
}

.homeBanner7{
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("https://images.ctfassets.net/kkpwxk9m1i0h/1JChnFUigH5RYnEs36jd7c/f1e2a186934433df1e67e64b467da31e/WhatsApp_Image_2024-04-03_at_5.09.19_PM__2_.jpeg");
  background-repeat: no-repeat;
  width: 100%;
}

.homeBanner7 .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 540px;
  width: 100%;
}

.homeBanner8{
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("https://images.ctfassets.net/kkpwxk9m1i0h/4i4fFiSBRNmbmqmXTZUfJ9/75293fc2549a97735c25e7bf24f9eed1/IMG_1840.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.homeBanner8 .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 540px;
  width: 100%;
}


.single{
  height: 580px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(/images/pxl1.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.single .bannerOverlay{
  background: rgba(15, 15, 15, .4);
  height: 580px;
  width: 100%;
}

/* Add this to your CSS or use a CSS-in-JS solution like styled-components */

/* CSS */
.testimonial-slide {
  position: relative;
  display: none;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(100%);
  height: auto; /* Ensure variable slide heights */
}

.testimonial-slide.active {
  display: block;
  transform: translateX(0);
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px; /* Adjust the margin as needed */
}

.prev-button,
.next-button {
  color: #07286f;
  /* color: white; */
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
}

.prev-button:hover,
.next-button:hover {
  transition: 0.3s ease-in-out;
  color: #1d92ce;
}

.card-container{
height: 650px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-decoration: none;
  color: #333;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

.pagination .active a {
  background-color: #1d92ce;
  color: #fff;
  border: 1px solid #1d92ce;
}

